<% include partials/_header %>
<head>
  <meta charset="utf-8">
  <title>Asignaturas</title>
  <!-- BOOTSTRAP CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
</head>
<div class="container">
  <%if(user.rol == "Administrador"){%>
  <div class="row">
    <div class="col-md-10">
      <div class="card">
        <div class="card-body">
          <form action="/asignaturas/add" method="post">
            <div class="form-group">
              <input class="form-control" type="text" name="title" placeholder="Nombre de la asignatura">
            </div>
            <div class="form-group">
              <textarea class="form-control" name="description" cols="80"
                placeholder="Escribe la descripción de la asignatura"
                ></textarea>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="info_instalacion" cols="80"
                placeholder="Escribe la información de instalación"
                ></textarea>
            </div>
            <button class="btn btn-primary" type="submit">Añadir</button>
          </form>
        </div>
      </div>
      <br>
      <br>
    </div>
    <% } %>
    
      <div class="col-md-10">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>N°</th>
              <th>Nombre</th>
              <th>Description</th>
              <th>Info de instalación</th>
              <%if(user.rol == "Administrador" || user.rol == "Profesor"){%>
              <th>Opciones</th>
              <% } %>
            </tr>
          </thead>
          <tbody>
            <% var p = 1; %>
            <% for(var i=0; i < asignaturas.length; i++) { %>
              <%for (var j=0; j < user.asignaturas.length;j++){%>
                <%if(asignaturas[i]._id.toString()==user.asignaturas[j].toString() || user.rol == "Administrador"){%>              
              <tr>
                <td ><%= p++ %></td>
                <td>
                <a href="/software/<%= asignaturas[i]._id %>"><%= asignaturas[i].title%></a>
              </td>
                <td><%= asignaturas[i].description%></td>
                <td><%= asignaturas[i].info_instalacion%></td>

                <%if(user.rol == "Administrador" || user.rol == "Profesor"){%>
                <td>
                  <a href="/asignaturas/delete/<%= asignaturas[i]._id %>" class="btn btn-danger">Delete</a>
                  <a href="/asignaturas/editar_asignaturas/<%= asignaturas[i]._id %>" class="btn btn-secondary">Edit</a>
                </td>
                <% } %>
                <% } %>
                <% } %>
              </tr>
            <% } %>
          </tbody>
        </table>
  
      </div>
    </div>
  </div>
<% include partials/_footer %>